@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.background {
  background-image: url("https://images.unsplash.com/photo-1611358382200-5baf13de1b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1191&q=80");
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  filter: blur(20px);
  z-index: -1;
}
.form {
  background-color: white;
  width: 600px;
  height: 40%;
  border-radius: 10px;
  text-align: center;
}
h2 {
  margin-bottom: 8px;
}
p {
  margin-top: 0;
  font-size: small;
  color: gray;
}
.inputSection {
  margin: 0px 60px;
  text-align: left;
}
#email,
#password {
  display: block;
  border: 1px solid gray;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin: 10px 0px;
  font-size: medium;
}
input:focus {
  outline: none;
}
